{
  "overrides": [
    {
      "files": "*.astro",

      "options": {
        "parser": "astro"
      }
    },

    {
      "files": "*.tsx",

      "options": {
        "parser": "typescript"
      }
    }
  ],

  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles/global.css"
}
