@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
  button {
    cursor: pointer;
  }
}

/* @layer components {

} */

@theme {
  --color-*: initial;
  --color-green: hsl(159, 69%, 38%);
  --color-red: hsl(14, 86%, 42%);
  --color-white: hsl(0, 0%, 100%);

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  /* --font-sans: "Noto Sans Variable", "sans-serif"; */
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
