---
import "@fontsource-variable/red-hat-text";
import "./src/styles/global.css";
import Main from "../components/Main.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <title>Frontend Mentor | Product List with Cart</title>
  </head>

  <body>
    <Main client:load />
  </body>
</html>
